name: Container Security Scan

on:
  workflow_call:
    inputs:
      image:
        description: container image
        required: true
        type: string
      artifact:
        description: github artifact
        required: false
        type: string

permissions:
  contents: read

jobs:
  scan:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      security-events: write

    steps:
      - uses: step-security/harden-runner@aa817ef3512b39bbe179e1c24cc63b4a421ab219 # pin@v2.4.1
        with:
          egress-policy: audit
      - uses: docker/setup-buildx-action@4c0219f9ac95b02789c1075625400b2acbff50b1 # pin@v2.9.1
      - uses: actions/download-artifact@e9ef242655d12993efdcda9058dee2db83a2cb9b # pin@v3.0.2
        if: ${{ inputs.artifact != '' }}
        with:
          name: ${{ inputs.artifact }}
          path: /tmp
      - run: |
          docker load --input /tmp/${{ inputs.artifact }}
        if: ${{ inputs.artifact != '' }}
      - id: grype
        uses: anchore/scan-action@f8d9cf1352c872bf9c61e87c1d02a7d1c63ef0b9 # pin@v3.3.6
        with:
          image: ${{ inputs.image }}
          fail-build: false
          severity-cutoff: critical
      - uses: github/codeql-action/upload-sarif@1813ca74c3faaa3a2da2070b9b8a0b3e7373a0d8 # pin@v2
        with:
          sarif_file: ${{ steps.grype.outputs.sarif }}
          category: grype
      - uses: aquasecurity/trivy-action@41f05d9ecffa2ed3f1580af306000f734b733e54 # pin@0.11.2
        with:
          image-ref: ${{ inputs.image }}
          format: sarif
          output: trivy-results.sarif
      - uses: github/codeql-action/upload-sarif@1813ca74c3faaa3a2da2070b9b8a0b3e7373a0d8 # pin@v2
        with:
          sarif_file: trivy-results.sarif
          category: trivy
