name: Merge

on:
  push:
    branches:
      - main

permissions: read-all

jobs:
  codeql:
    uses: ./.github/workflows/codeql.yaml

    permissions:
      actions: read
      contents: read
      security-events: write

  scorecard:
    uses: ./.github/workflows/openssf-scorecard.yaml

    permissions:
      contents: read
      security-events: write
      id-token: write

  release:
    runs-on: ubuntu-latest

    needs:
      - codeql

    permissions:
      contents: write
      pull-requests: write

    outputs:
      release_created: ${{ steps.release_please.outputs.release_created }}
      tag: ${{ steps.release_please.outputs.tag_name }}
      sha: ${{ steps.release_please.outputs.sha }}
      upload_url: ${{ steps.release_please.outputs.upload_url }}
      version: "${{steps.release_please.outputs.major}}.${{steps.release_please.outputs.minor}}.${{steps.release_please.outputs.patch}}"

    steps:
      - uses: step-security/harden-runner@55d479fb1c5bcad5a4f9099a5d9f37c8857b2845 # v2.4.1
        with:
          egress-policy: audit
      - id: release_please
        uses: google-github-actions/release-please-action@8016a6649226f2ec88ed05441c11bb5410a22d29 # v3.7.10
        with:
          command: manifest

  release-pr:
    runs-on: ubuntu-latest

    needs:
      - release

    steps:
      - uses: step-security/harden-runner@55d479fb1c5bcad5a4f9099a5d9f37c8857b2845 # v2.4.1
        with:
          egress-policy: audit
      - id: get_token
        uses: tibdex/github-app-token@b62528385c34dbc9f38e5f4225ac829252d1ea92 # v1.8.0
        with:
          app_id: ${{ secrets.BOT_APP_ID }}
          private_key: ${{ secrets.BOT_PRIVATE_KEY }}
      - uses: google-github-actions/release-please-action@8016a6649226f2ec88ed05441c11bb5410a22d29 # v3.7.10
        with:
          token: ${{ steps.get_token.outputs.token }}
          command: manifest-pr
