name: Pull Request

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - reopened

permissions: read-all

jobs:
  trunk-check:
    runs-on: ubuntu-latest

    permissions:
      checks: write

    steps:
      - uses: step-security/harden-runner@55d479fb1c5bcad5a4f9099a5d9f37c8857b2845 # v2.4.1
        with:
          egress-policy: audit
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - uses: trunk-io/trunk-action@23e0471bab18ab409d9f59e70283f1d9a29f3de1 # v1.1.5
        with:
          save-annotations: true

  dependency-review:
    runs-on: ubuntu-latest

    steps:
      - uses: step-security/harden-runner@55d479fb1c5bcad5a4f9099a5d9f37c8857b2845 # v2.4.1
        with:
          egress-policy: audit
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - uses: actions/dependency-review-action@1360a344ccb0ab6e9475edef90ad2f46bf8003b1 # v3.0.6

  codeql:
    uses: ./.github/workflows/codeql.yaml

    permissions:
      actions: read
      contents: read
      security-events: write

  container_changes_matrix:
    runs-on: ubuntu-latest

    outputs:
      matrix: ${{ steps.changes.outputs.changes }}

    steps:
      - uses: step-security/harden-runner@55d479fb1c5bcad5a4f9099a5d9f37c8857b2845 # v2.4.1
        with:
          egress-policy: audit
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - uses: actions/github-script@d7906e4ad0b1822421a7e6a35d5ca353c962f410 # v6.4.1
        id: filters
        env:
          WORKSPACE: ${{ github.workspace }}
        with:
          result-encoding: string
          script: |
            const workspace = process.env.WORKSPACE
            const globber = await glob.create('containers/*/Dockerfile');
            var output = "";
            for await (const file of globber.globGenerator()) {
              core.debug(`Found: ${file} => ${file.replace(`${workspace}/`,'')}`);
              var path = file.replace(`${workspace}/`,'').split('/').slice(0,-1).join('/');
              output += `${path}:
                - '${path}/**'`;
            }
            return output
      - uses: dorny/paths-filter@4512585405083f25c027a35db413c2b3b9006d50 # v2.11.1
        id: changes
        with:
          filters: ${{ steps.filters.outputs.result }}

  container_build_change:
    if: ${{needs.container_changes_matrix.outputs.matrix != '[]'}}

    needs:
      - codeql
      - container_changes_matrix

    permissions:
      contents: read
      packages: write
      security-events: write

    strategy:
      fail-fast: false

      matrix:
        path: ${{ fromJSON(needs.container_changes_matrix.outputs.matrix) }}

    uses: ./.github/workflows/container-build.yaml
    with:
      path: ${{ matrix.path }}

  dependabot:
    runs-on: ubuntu-latest

    if: ${{ github.actor == 'dependabot[bot]' }}

    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: step-security/harden-runner@55d479fb1c5bcad5a4f9099a5d9f37c8857b2845 # v2.4.1
        with:
          egress-policy: audit
      - id: metadata
        uses: dependabot/fetch-metadata@c9c4182bf1b97f5224aee3906fd373f6b61b4526 # v1.6.0
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
      - if: ${{ steps.metadata.outputs.package-ecosystem == 'github_actions' && contains(fromJSON('["version-update:semver-minor","version-update:semver-patch"]'), steps.metadata.outputs.update-type) }}
        run: |
          gh pr review --approve "$PR_URL"
          gh pr merge --auto --rebase "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

  renovate:
    permissions:
      contents: read

    uses: ./.github/workflows/renovate.yaml
    secrets: inherit
